<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Your Activity
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div *ngIf="activities === null">
    <ion-card *ngFor="let x of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-card>
  </div>

  <div *ngIf="activities !== null && activities.length === 0">
    <ion-card class="card-center" routerLink="/tabs/add-item">
      <!-- <ion-img @slidetoptitle src="/assets/empty-box.svg" class="center-image"></ion-img> -->
      <ion-card-header>
        <ion-card-title @slidelefttitle>No User Activities recorded.</ion-card-title>
      </ion-card-header>
      <ion-card-content @sliderighttitle>
        <p>It seems you haven't used Borrowed for un-forgetting your Items till date !!</p>
        <h2>Click here to add your first Item.</h2>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="activities !== null">
    <ion-list *ngIf="activities.length > 0" no-margin no-padding lines="none">
      <!-- <ion-list-header @slidelefttitle>Your Activity</ion-list-header> -->
      <ion-item *ngFor="let activity of activities; let i = index;" class="item-grid-content"
      [color]="i%2 !== 0 ? 'secondary': ''">
        <ion-icon @slidelefttitle [name]="fetchIcon(i)" slot="start"></ion-icon>
        <ion-label @sliderighttitle style="white-space: initial;">
          {{ activity.activityDetails }}
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>