<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Items History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div *ngIf="!transcationCompleteItems">
    <ion-card *ngFor="let x of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-card>
  </div>

  <div *ngIf="(transcationCompleteItems | async)?.length === 0">
    <ion-card class="card-center">
      <ion-img @slidetoptitle src="/assets/empty-box.svg" class="center-image"></ion-img>
      <ion-card-header>
        <ion-card-title @slidelefttitle>No items present in the history.</ion-card-title>
      </ion-card-header>
      <ion-card-content @sliderighttitle>
        <h2>To complete borrowing transaction for an Item : </h2>
        <p>Click on "check" icon which will be shown after
          left-sliding the item on the home page.</p>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="(transcationCompleteItems | async) as loadedItems">
    <ion-list *ngIf="loadedItems.length > 0">
      <ion-list-header @slidelefttitle>Done Items</ion-list-header>
      <ion-item-sliding *ngFor="let transcationCompleteItem of loadedItems">
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="removeItem( transcationCompleteItem )">
            <ion-icon *ngIf="transcationCompleteItem.isActive" name="checkmark" slot="icon-only"></ion-icon>
            <ion-icon *ngIf="!transcationCompleteItem.isActive" name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item [routerLink]="['item-details', transcationCompleteItem.itemId]" class="item-grid-content"
          [style.opacity]="transcationCompleteItem.isActive ? 1 : 0.5">
          <ion-grid fixed>
            <ion-row>
              <ion-col size="3" @slidebottomtitle>
                <ion-thumbnail>
                  <img [src]="transcationCompleteItem.itemImage">
                </ion-thumbnail>
              </ion-col>
              <ion-col size="9" class="bold-heading" @sliderighttitle>
                <ion-label>
                  <h2 text-uppercase>{{ transcationCompleteItem.itemName }}</h2>
                  <p> Lent to <b>{{ transcationCompleteItem.lendeeName }}</b> on
                    <b>{{ transcationCompleteItem.borrowingDate  | date: 'dd MMM, yyyy' }}</b></p>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        
      </ion-item-sliding>
    </ion-list>
  </div>

</ion-content>