<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      FAQs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-card>
    <ion-card-content>
      <section class="questions-section">
        <h1><b>F</b>requently <b>A</b>sked <b>Q</b>uestion<b>s</b></h1>

        <h2>I am a Giver. I have so many items listed in the "Home" tab. It's very hard for me to find one of them.</h2>
        <p>The team borrowed appreciates people with a big heart. User can use "Search" icon present at the top to
          browse
          through the items.</p>

        <h2>I want to remind the other person about the item.</h2>
        <p>Users can go to "Item Details" by clicking on Item from the list. There are numerous social sharing options
          provided to remind them.</p>

        <h2>The other person is not on any of the social networking options provided.</h2>
        <p>You worry too much. There is a generic share option provided with "Share" icon. You can use this to connect
          to other person in every possible way supported by your phone.</p>

        <h2>I want to edit the information provided earlier for my item.</h2>
        <p>Unfortunately, there is no direct way to edit the item. The user has to delete the current item for which
          he/she
          wants to change the details and create a new item in the list with the new details.</p>

        <h2>I want to know about Urgent Items.</h2>
        <p>Items which need to be urgently get back from or to be returned to the other person are said to be urgent
          Items. These items can be viewed in "Urgent Items" tab</p>

        <h2>I want to mark my item as Urgent.</h2>
        <p>Users can use (Empty)"Heart" icon present at the top in the item details. Alternatively, User can click on
          (Empty)"Heart" icon which will be shown after
          Left-sliding the Item-view on the "Home" tab. Filled "Heart" icon will indicate that your Item is an Urgent
          item.</p>

        <h2>I accidently marked my item as Urgent.</h2>
        <p>Don't worry. Users can click on (Filled)"Heart" icon present at the top in the item details. Or, User can use
          (Filled)"Heart" icon which will be shown after
          Left-sliding the Item-view on the "Home" tab. Empty "Heart" icon will indicate that your Item is not an Urgent
          item.</p>

        <h2>I want to remove the item from the list now that I have got back/returned the item.</h2>
        <p>This is also known as "transaction-complete" item. Users can use "Tick" icon which will be shown after
          Right-sliding the Item-view on the "Home" tab or "Urgent Items" tab. This will remove the item from "Home" tab
          (and "Urgent Items" tab if the item was urgent).</p>

        <h2>I want to view the items for which the borrowing transaction (got back/returned) is completed.</h2>
        <p>The user can go to "Account" tab. and Click on "Transaction Complete Items". The items will be listed in the
          "Done Items" page.</p>

        <h2>I want to remove the item completely meaning I don't want an Item to show in "Done Items" page.</h2>
        <p>User can use "Tick" icon which will be shown after Right-sliding the Item-view on the "Done Items" page.
          Please note that, the item once removed completely, can not be made available again.</p>

        <h2>You have a bad taste Team Borrowed. I don't like the default color scheme.</h2>
        <p>User can change the theme for the "Borrowed" app by going to "Theme" section of "Settings" tab.</p>

        <h2>I am facing an issue which is not listed here.</h2>
        <p>Please use "Contact us" section in "Settings" tab to write to us. Please be detailed and specific in your
          query. The team borrowed will get in touch with you regarding the issue once we receive the issue. </p>

        <h2>The "Borrowed" app is awesome. I want to know/meet/greet the developer to show the gratitude.</h2>
        <p>Please don't forget to rate "Borrowed" app which you like so much. You can go to the "About developer"
          section of "Settings" tab to know about the Developer. And You can greet
          Or meet the developer on the social platforms, links for which are provided.</p>

        <h2>I want to donate some money to the developer. I want more apps like this from the developer</h2>
        <p>No help is small. You can donate appropriate amount using google pay id <b>{{ googlePayId }}</b>
          <ion-icon *ngIf="isMobilePlatform" (click)="copyToClipboard()"
            style="color:rgb(23, 26, 199); font-size: 1.5em" name="clipboard">
          </ion-icon>
        </p>

      </section>
    </ion-card-content>
  </ion-card>

</ion-content>