<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>
      Add Lent Item
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="redirectToHomePage()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-card no-margin *ngIf="showItemDetailsForm">
    <ion-card-content>
      <form [formGroup]="itemDetailsFormGroup">

        <div>
          <ion-item @sliderighttitle lines="none">
            <ion-segment mode="ios" (ionChange)="onTransactionTypeChange($event)" color="secondary">
              <ion-segment-button value="lent" checked>
                <ion-label>Lent</ion-label>
                <ion-icon name="cloud-upload"></ion-icon>
              </ion-segment-button>
              <ion-segment-button value="borrowed">
                <ion-label>borrowed</ion-label>
                <ion-icon name="cloud-download"></ion-icon>
              </ion-segment-button>
            </ion-segment>
          </ion-item>
        </div>

        <div *ngIf="isMobilePlatform">
          <ion-item lines="none" @slidetoptitle>
            <ion-avatar class="item-picture">
              <ion-img [src]="itemImage">
              </ion-img>
            </ion-avatar>
          </ion-item>
          <ion-item lines="none" @slidetoptitle>
            <ion-chip (click)="selectImageSource()" class="center-chip">
              <ion-icon name="camera"></ion-icon>
              <ion-label> {{ itemImage ? "Change Image" : "Add Image (Optional)" }}</ion-label>
            </ion-chip>
          </ion-item>
        </div>

        <div>
          <ion-label class="input-label" @slidelefttitle>Item*</ion-label>
          <ion-item @slidelefttitle>
            <ion-input placeholder="Enter Item name" formControlName="itemName" type="text"></ion-input>
          </ion-item>
          <div *ngFor="let validation of validationMessages.itemName" class="validation-errors">
            <ion-item class="error-message" *ngIf="isError('itemName', validation.type)">
              <ion-icon name="alert"></ion-icon>
              <ion-label>{{ validation.message }}</ion-label>
            </ion-item>
          </div>
        </div>

        <div>
          <ion-label class="input-label" @sliderighttitle>Importance*</ion-label>
          <ion-item @sliderighttitle lines="none">
            <ion-segment mode="ios" (ionChange)="onImportanceChange($event)" color="primary">
              <ion-segment-button value="high">
                <ion-label>High</ion-label>
              </ion-segment-button>
              <ion-segment-button value="medium">
                <ion-label>Medium</ion-label>
              </ion-segment-button>
              <ion-segment-button value="low" checked>
                <ion-label>Low</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-item>
        </div>

        <div>
          <ion-label class="input-label" @slidelefttitle>Event Date*</ion-label>
          <ion-item @slidelefttitle>
            <ion-datetime [max]="today" displayFormat="DD MMM YYYY" formControlName="eventDate"
              placeholder="Enter Date of event">
            </ion-datetime>
          </ion-item>
          <div *ngFor="let validation of validationMessages.eventDate" class="validation-errors">
            <ion-item class="error-message" *ngIf="isError('eventDate', validation.type)">
              <ion-icon name="alert"></ion-icon>
              <ion-label>{{ validation.message }}</ion-label>
            </ion-item>
          </div>
        </div>

        <div>
          <ion-label class="input-label" @sliderighttitle>Expected Date</ion-label>
          <ion-item @sliderighttitle>
            <ion-datetime [min]="today" displayFormat="DD MMM YYYY" formControlName="expectedReturnDate"
              placeholder="Enter Date of return">
            </ion-datetime>
          </ion-item>
        </div>

        <div>
          <ion-label class="input-label" @slidelefttitle>Notes about item</ion-label>
          <ion-item @slidelefttitle>
            <ion-textarea placeholder="Add something more about the item here (Optional)"
              formControlName="itemDescription">
            </ion-textarea>
          </ion-item>
        </div>

        <div>
          <ion-label class="input-label" @sliderighttitle>Name of the Person*</ion-label>
          <ion-item @sliderighttitle>
            <ion-input placeholder="Enter Name" formControlName="personName" type="text"></ion-input>
            <ion-icon *ngIf="isMobilePlatform" name="paper" (click)="openContactFinderModal()"></ion-icon>
          </ion-item>
          <div *ngFor="let validation of validationMessages.personName" class="validation-errors">
            <ion-item class="error-message" *ngIf="isError('personName', validation.type)">
              <ion-icon name="alert"></ion-icon>
              <ion-label>{{ validation.message }}</ion-label>
            </ion-item>
          </div>
        </div>

        <div>
          <ion-label class="input-label" @slidelefttitle>Contact Number</ion-label>
          <ion-item @slidelefttitle>
            <ion-input placeholder="Enter Contact Number" formControlName="personContactNumber" type="text"></ion-input>
          </ion-item>
          <div *ngFor="let validation of validationMessages.personContactNumber" class="validation-errors">
            <ion-item class="error-message" *ngIf="isError('personContactNumber', validation.type)">
              <ion-icon name="alert"></ion-icon>
              <ion-label>{{ validation.message }}</ion-label>
            </ion-item>
          </div>
        </div>

        <div>
          <ion-label class="input-label" @sliderighttitle>Email Information</ion-label>
          <ion-item @sliderighttitle>
            <ion-input placeholder="Enter Email" formControlName="personEmail" type="text"></ion-input>
          </ion-item>
          <div *ngFor="let validation of validationMessages.personEmail" class="validation-errors">
            <ion-item class="error-message" *ngIf="isError('personEmail', validation.type)">
              <ion-icon name="alert"></ion-icon>
              <ion-label>{{ validation.message }}</ion-label>
            </ion-item>
          </div>
        </div>

        <ion-button @slidebottomtitle (click)="addItem()" [disabled]="itemDetailsFormGroup.invalid"
          class="expand-button">
          Add</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>