<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>
      Add Lent Item
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-card no-margin>
    <ion-card-content>
      <form [formGroup]="itemDetailsFormGroup">
        <ion-item lines="none">
          <ion-avatar class="item-picture">
            <ion-img [src]="itemImage">
            </ion-img>
          </ion-avatar>
        </ion-item>
        <ion-item lines="none">
          <ion-chip (click)="selectImageSource()" class="center-chip">
            <ion-icon name="camera"></ion-icon>
            <ion-label> {{ itemImage ? "Change Image" : "Add Image (Optional)" }}</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Item Name/Category" formControlName="itemName" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Borrowing Date</ion-label>
          <ion-datetime displayFormat="DD MMM YYYY" formControlName="borrowingDate" placeholder="Date Given">
          </ion-datetime>
        </ion-item>
        <ion-item *ngIf="showSearchBarForContacts" lines="none">
          <ion-searchbar formControlName="searchQuery" (ionChange)="searchForContacts()" searchIcon="contacts"
            placeholder="browse from contact list" autocomplete="on" debounce="700">
          </ion-searchbar>
        </ion-item>
        <ion-item *ngIf="contactsFound && contactsFound.length !== 0" lines="none">
          <ion-list class="container">
            <ion-item *ngFor="let contact of contactsFound" lines="none">
              <div class="scroll" scrollX="true">
                <ion-chip>{{ contact?.displayName }}</ion-chip>
                <ion-chip *ngFor="let number of contact?.phoneNumbers"
                  (click)="assignContactDetails(contact, number.value)">
                  {{ number.value }}
                </ion-chip>
              </div>
            </ion-item>
          </ion-list>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Lendee" formControlName="lendeeName" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Contact Number For Lendee" formControlName="lendeeContact" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Email For Lendee" formControlName="lendeeEmail" type="text"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Urgent</ion-label>
          <ion-toggle formControlName="isUrgent" checked="false"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-textarea placeholder="more about the lent item ..." formControlName="itemDescription">
          </ion-textarea>
        </ion-item>

        <ion-button (click)="addItem()" [disabled]="itemDetailsFormGroup.invalid" margin-top expand="full">
          Add</ion-button>
        <!-- <ion-button (click)="closeModal()" margin-top expand="full">
          Cancel</ion-button> -->
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>