.item-picture {
    width: 200px;
    height: 200px;
    border: gray solid 3px;
    margin: 10px auto;
}

.center-chip {
    margin: 10px auto;
    text-align: center;
}

.container {
    width: 300px;
    margin: 10px auto;
    overflow: hidden; 
    white-space: nowrap;
    ::-webkit-scrollbar {
      display: none;
    }
    .scroll {
        min-width: 100%;
        overflow: auto;
    }
  }