<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openAddItemModal()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Borrowed.
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFiltering()">
        <ion-icon *ngIf="!enableSearchBar" name="search" color="primary"></ion-icon>
        <ion-icon *ngIf="enableSearchBar" name="search" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div *ngIf="enableSearchBar">
    <form [formGroup]="searchFromGroup">
      <ion-searchbar formControlName="searchControl" (ionChange)="onSearchInput()"></ion-searchbar>
    </form>
  </div>

  <!-- <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div> -->

  <div *ngIf="searching" class="spinner-container">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>

  <div *ngIf="!lentItems">
    <ion-card *ngFor="let x of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-card>
  </div>

  <ion-card *ngIf="(lentItems | async)?.length === 0" class="card-center">
    <ion-card-content>
      <ion-img src="/assets/empty-box.svg" class="image-med"></ion-img>
      <p>No Lent Items Present !!</p>
      <p>Use "+" button to add your lent Items to the List.</p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header *ngIf="(lentItems | async)?.length > 0">Lent Items</ion-list-header>
    <ion-item-sliding *ngFor="let lentItem of (lentItems | async)">
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="removeItem( lentItem.itemId )">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item [routerLink]="['item-details', lentItem.itemId]">
        <ion-thumbnail slot="start">
          <img [src]="lentItem.itemImage">
        </ion-thumbnail>
        <ion-label>
          <h1>{{ lentItem.itemName }}</h1>
          <ion-chip *ngIf="lentItem.borrowingDate">
            <ion-icon name="time"></ion-icon>
            <ion-label>{{ lentItem.borrowingDate  | date: 'dd-MMM-yyyy HH:mm' }}</ion-label>
          </ion-chip>
        </ion-label>
      </ion-item>

      <ion-item-options side="end" (click)="toggleUrgentStatus( lentItem.itemId, lentItems )">
        <ion-item-option>
          <ion-icon *ngIf="lentItem.isUrgent" color="success" name="star" slot="icon-only"></ion-icon>
          <ion-icon *ngIf="!lentItem.isUrgent" color="success" name="star-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>