<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openAddItemModal()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Borrowed.
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="power" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="!missingItems">
    <ion-card *ngFor="let x of [1, 2, 3, 4]">
      <ion-skeleton-text class="skeleton-image" animated></ion-skeleton-text>
      <ion-card-header>
        <ion-card-subtitle>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-card-subtitle>
        <ion-card-title>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- <ion-card [routerLink]="['item-details', missingItem.itemId]" button class="welcome-card"
    *ngFor="let missingItem of (missingItems | async)">
    <img [src]="missingItem.itemImage" alt="/assets/shapes.svg" />
    <ion-card-header>
      <ion-card-subtitle>{{ missingItem.itemDescription }}</ion-card-subtitle>
      <ion-card-title>{{ missingItem.itemName }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>No items added yet.</p>
      <p>Add items which people borrowed from you recently.</p>
    </ion-card-content>
  </ion-card> -->

  <ion-list>
    <ion-item-sliding [routerLink]="['item-details', missingItem.itemId]"
      *ngFor="let missingItem of (missingItems | async)">
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="removeItem( missingItem.itemId )">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item>
        <ion-label> {{ missingItem.itemName }} </ion-label>
      </ion-item>

      <ion-item-options side="end" (click)="toggleUrgentStatus( missingItem.itemId, missingItem )">
        <ion-item-option>
          <ion-icon *ngIf="missingItem.isUrgent" color="danger" name="star" slot="icon-only"></ion-icon>
          <ion-icon *ngIf="!missingItem.isUrgent" color="danger" name="star-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="openAddItemModal()">
      <ion-icon color="secondary" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>