.welcome-card ion-img {
    max-height: 35 vh;
    overflow: hidden;
}

.spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.card-center {
    text-align: center;
    padding: 10px;
}

.image-med{
    height: 200px;
    width: 200px;
    margin: 10px auto;
}
