<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="shareToSocialNetworks()">
        <ion-icon color="primary" name="share"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="power" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-avatar class="profile-picture">
    <ion-img [src]="(storedUserProfile | async)?.profile_image">
    </ion-img>
  </ion-avatar>

  <ion-item *ngIf="(storedUserProfile | async)?.name">
    <ion-chip color="primary" class="center-chip"> {{ (storedUserProfile | async)?.name }} </ion-chip>
  </ion-item>

  <ion-item>
    <ion-chip (click)="selectImageSource()" class="center-chip">
      <ion-icon name="camera" color="primary"></ion-icon>
      <ion-label>{{ (storedUserProfile | async)?.profile_image ? "Change Picture" : "Add Picture" }}</ion-label>
    </ion-chip>
  </ion-item>

  <ion-item routerLink="/tabs/borrowed">
    <ion-label>Items Given</ion-label>
    <ion-badge color="success" slot="end">{{ (lentItems | async)?.length }}</ion-badge>
  </ion-item>

  <ion-item routerLink="/tabs/urgent-items">
    <ion-label>Urgent Items</ion-label>
    <ion-badge color="danger" slot="end">{{ (urgentMissingItems | async)?.length }}</ion-badge>
  </ion-item>

  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>Omkar Nagare</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Ekach chhava...</p>
    </ion-card-content>
  </ion-card> -->

</ion-content>