// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Fonts **/
/** Montserrat **/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: normal;
  src: url('../assets/fonts/Montserrat/Montserrat-RegularItalic.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: bold;
  src: url('../assets/fonts/Montserrat/Montserrat-BoldItalic.ttf');
}
/** Fonts **/

/** Ionic CSS Variables **/
:root {
	/** primary **/
	--ion-color-primary: #3880ff;
	--ion-color-primary-rgb: 56, 128, 255;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255, 255, 255;
	--ion-color-primary-shade: #3171e0;
	--ion-color-primary-tint: #4c8dff;
	/** secondary **/
	--ion-color-secondary: #0cd1e8;
	--ion-color-secondary-rgb: 12, 209, 232;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255, 255, 255;
	--ion-color-secondary-shade: #0bb8cc;
	--ion-color-secondary-tint: #24d6ea;
	/** tertiary **/
	--ion-color-tertiary: #7044ff;
	--ion-color-tertiary-rgb: 112, 68, 255;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255, 255, 255;
	--ion-color-tertiary-shade: #633ce0;
	--ion-color-tertiary-tint: #7e57ff;
	/** success **/
	--ion-color-success: #10dc60;
	--ion-color-success-rgb: 16, 220, 96;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255, 255, 255;
	--ion-color-success-shade: #0ec254;
	--ion-color-success-tint: #28e070;
	/** warning **/
	--ion-color-warning: #ffce00;
	--ion-color-warning-rgb: 255, 206, 0;
	--ion-color-warning-contrast: #ffffff;
	--ion-color-warning-contrast-rgb: 255, 255, 255;
	--ion-color-warning-shade: #e0b500;
	--ion-color-warning-tint: #ffd31a;
	/** danger **/
	--ion-color-danger: #f04141;
	--ion-color-danger-rgb: 245, 61, 61;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255, 255, 255;
	--ion-color-danger-shade: #d33939;
	--ion-color-danger-tint: #f25454;
	/** dark **/
	--ion-color-dark: #222428;
	--ion-color-dark-rgb: 34, 34, 34;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255, 255, 255;
	--ion-color-dark-shade: #1e2023;
	--ion-color-dark-tint: #383a3e;
	/** medium **/
	--ion-color-medium: #989aa2;
	--ion-color-medium-rgb: 152, 154, 162;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255, 255, 255;
	--ion-color-medium-shade: #86888f;
	--ion-color-medium-tint: #a2a4ab;
	/** light **/
	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244, 244, 244;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0, 0, 0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;
	/** font text **/
	--ion-font-family: 'Montserrat';
	/** customization in css **/
	.spinner-container {
		height: 100%;
		width: 100%;
		z-index: 999;
		display: flex;
		align-items: center;
		justify-content: center;
	}	
	.spinner {
		width: 50px;
		height: 50px;
		position: relative;
		margin: 50px 100px auto;
	}	
	.double-bounce1,
	.double-bounce2 {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: var(--ion-color-primary);
		opacity: 0.6;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
		animation: sk-bounce 2.0s infinite ease-in-out;
	}	
	.double-bounce2 {
		-webkit-animation-delay: -1.0s;
		animation-delay: -1.0s;
	}	
	@-webkit-keyframes sk-bounce {
		0%,
		100% {
			-webkit-transform: scale(0.0)
		}
		50% {
			-webkit-transform: scale(1.0)
		}
	}
	@keyframes sk-bounce {
		0%,
		100% {
			transform: scale(0.0);
			-webkit-transform: scale(0.0);
		}
		50% {
			transform: scale(1.0);
			-webkit-transform: scale(1.0);
		}
	}

	ion-tab-bar {
		--border: 2px solid var(--ion-color-dark) !important;
	}

	ion-item-option {
		border-radius: 0px 16px 16px 0px;
	}
	.center-image {
		height: 200px;
		// background: var(--ion-color-secondary);
		border-radius: 16px 0px;
		border: 4px solid var(--ion-color-secondary);
	}
	.card-center {
		text-align: center;
		padding: 0px;
		// margin: 0px;
		ion-card-header>ion-card-title {
			font-weight: bold;
		}
		ion-card-content>h2 {
			font-weight: bold;
		}
	}
	.item-grid-content {
		position: relative;
		ion-thumbnail {
			height: 60px;
			width: 60px;
			position: absolute; 
			left: 0%; 
			top: -6%;
			z-index: 1;
			// height: 120%;
			// width: 120%;
			img {
				border-radius: 8px;
				// border: 2px solid #BBB;
				// padding: 2px;
			}
		}
		ion-grid>ion-row {
			padding: 0px;
		}
		ion-grid>ion-row>ion-col {
			margin: auto;
			text-align: center;
			padding: 0px;
		}
		ion-grid>ion-row>ion-col.bold-heading>ion-label>h2 {
			font-weight: bold;
		}
		// ion-grid>ion-row>ion-col>ion-label>* {
		// 	white-space: initial !important;
		// }
	}

	.ribbon-box {
		position:relative;
		// border:1px solid #BBB;
		border-radius: 12px;
		margin: 4px 0px 4px 0px;
	}
	.ribbon {
		position: absolute;
		right: -10px; top: -5px;
		z-index: 1;
		overflow: hidden;
		width: 75px; height: 75px; 
		text-align: right;
	 }
	 .ribbon span {
		font-size: 10px;
		color: #fff; 
		text-transform: uppercase; 
		text-align: center;
		font-weight: bold; line-height: 20px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg); /* Needed for Safari */
		width: 100px; display: block;
		background: #79A70A;
		background: linear-gradient(#9BC90D 0%, #79A70A 100%);
		box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
		position: absolute;
		top: 19px; right: -21px;
	 }
	 .ribbon span::before {
		content: '';
		position: absolute; 
		left: 0px; top: 100%;
		z-index: -1;
		border-left: 3px solid #79A70A;
		border-right: 3px solid transparent;
		border-bottom: 3px solid transparent;
		border-top: 3px solid #79A70A;
	 }

	//  .ribbon span::after {
	// 	content: '';
	// 	position: absolute; 
	// 	right: 0%; top: 100%;
	// 	z-index: -1;
	// 	border-right: 3px solid #79A70A;
	// 	border-left: 3px solid transparent;
	// 	border-bottom: 3px solid transparent;
	// 	border-top: 3px solid #79A70A;
	//  }
	.high span {background: linear-gradient(#F70505 0%, #8F0808 100%);}
	.high span::before {border-left-color: #8F0808; border-top-color: #8F0808;}
	.high span::after {border-right-color: #8F0808; border-top-color: #8F0808;}
	.medium span {background: linear-gradient(#FFC266 0%, #FF9900 100%);}
	.medium span::before {border-left-color: #FF9900; border-top-color: #FF9900;}
	.medium span::after {border-right-color: #FF9900; border-top-color: #FF9900;}
	.low span {background: linear-gradient(#9BC90D 0%, #79A70A 100%);}
	.low span::before {border-left-color: #79A70A; border-top-color: #79A70A;}
	.low span::after {border-right-color: #79A70A; border-top-color: #79A70A;}

	.overdue {
		* > .ribbon-box {
			border:1px solid #8F0808;
		}
		* > img {
			border: 2px solid #8F0808 !important;
		}
		* > .status {
			color: #8F0808 !important;
		}
	}
	.urgent {
		* > .ribbon-box {
			border:1px solid #FF9900;
		}
		* > img {
			border: 2px solid #FF9900 !important;
		}
		* > .status {
			color: #FF9900 !important;
		}
	}
	.normal {
		* > .ribbon-box {
			border:1px solid #79A70A;
		}
		* > img {
			border: 2px solid #79A70A !important;
		}
		* > .status {
			color: #79A70A !important;
		}
	}
	.inactive {
		* > .ribbon-box {
			border:1px solid #bbbbbb;
		}
		* > img {
			border: 2px solid #bbbbbb !important;
		}
		* > .status {
			color: #bbbbbb !important;
		}
	}

	.input-label {
		font-size: 12px;
		margin: 0px 0px 0px 16px;
	}

	.validation-errors>ion-item {
		ion-label {
			white-space: initial;
			color: var(--ion-color-danger);
		}
		ion-icon {
			color: var(--ion-color-danger);
		}
	}
	ion-searchbar {
		.searchbar-input-container {
			.searchbar-input {
				border-radius: 16px;
			}
		}
	}
	ion-thumbnail>img {
		border-radius: 12px;
	}
	ion-card {
		border-radius: 12px;
	}
	ion-button.expand-button {
		border-radius: 8px;
		border-right-width: 0px;
		border-left-width: 0px;
		margin-left: 0px;
		margin-right: 0px;
		display: block;
		width: 100%;
		contain: content;
	}
	.borrowed-toast {
		--border-radius: 16px;
	}
	.loading-wrapper {
		border-radius: 16px;
	}
	.alert-wrapper {
		border-radius: 16px;
		.alert-message {
			color: black;
		}
		.alert-button-group {
			button {
				color: black;
			}
		}
	}
	ion-segment-button {
		--border-radius: 8px;
		--border-width: 2px;
	}
	ion-textarea>textarea {
		height: 150px;
	}
	.social-icon-container {
		text-align: center;
		a>ion-icon {
			margin: 4px;
			font-size: 2.5em;
		}
	}
	ion-footer {
		ion-toolbar {
			ion-title{
				text-align: center;
				font-size: 1em
			}
		}
	}
}