<ion-header translucent>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-button (click)="shareToSocialNetworks()">
        <ion-icon slot="icon-only" color="primary" name="share"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title>
      Account
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="power" color="danger"></ion-icon>
      </ion-button>
      <!-- <ion-button routerLink="settings">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-avatar class="profile-picture">
    <ion-img [src]="(storedUserProfile | async)?.profile_image">
    </ion-img>
  </ion-avatar>

  <ion-item *ngIf="(storedUserProfile | async)?.name">
    <ion-chip class="center-chip"> {{ (storedUserProfile | async)?.name }} </ion-chip>
  </ion-item>

  <ion-item>
    <ion-chip (click)="selectImageSource()" class="center-chip">
      <ion-icon name="camera"></ion-icon>
      <ion-label>{{ (storedUserProfile | async)?.profile_image ? "Change Picture" : "Add Picture" }}</ion-label>
    </ion-chip>
  </ion-item>

  <ion-item routerLink="/tabs/borrowed">
    <ion-label>Items Given</ion-label>
    <ion-badge color="success" slot="end">{{ (lentItems | async)?.length }}</ion-badge>
  </ion-item>

  <ion-item routerLink="/tabs/urgent-items">
    <ion-label>Urgent Items</ion-label>
    <ion-badge color="danger" slot="end">{{ (urgentMissingItems | async)?.length }}</ion-badge>
  </ion-item>

</ion-content>