<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> {{ itemObject ? itemObject.itemName: "" }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div *ngIf="itemObject === null">
    <ion-card>
      <ion-skeleton-text class="skeleton-image" animated></ion-skeleton-text>
      <ion-card-header>
        <ion-card-title>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="itemObject !== null" [style.opacity]="itemObject.isActive ? 1 : 0.5">
    <ion-card>
      <ion-img @slidetoptitle class="item-image" *ngIf="itemObject.itemImage" [src]="itemObject.itemImage"></ion-img>
      <ion-item lines="none" *ngIf="isMobilePlatform">
        <ion-chip (click)="selectImageSource()" class="center-chip">
          <ion-icon @slidelefttitle name="camera"></ion-icon>
          <ion-label @sliderighttitle>Change Image</ion-label>
        </ion-chip>
      </ion-item>
      <ion-card-header *ngIf="itemObject.itemDescription">
        <ion-card-subtitle @sliderighttitle>Notes</ion-card-subtitle>
        <ion-card-title @sliderighttitle>{{ itemObject.itemDescription }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <div *ngIf="itemObject.itemName">
          <ion-item>
            <ion-icon @slidelefttitle slot="start" name="cube" style="color: var(--ion-color-primary)"></ion-icon>
            <ion-segment @sliderighttitle mode="ios" color="primary" disabled style="opacity: 1;">
              <ion-segment-button mode="ios">
                <ion-label>Item</ion-label>
              </ion-segment-button>
              <ion-segment-button mode="ios" checked>
                <ion-label>{{ itemObject.itemName }}</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-item>
        </div>

        <div *ngIf="itemObject.eventDate">
          <ion-item>
            <ion-icon @slidelefttitle slot="start" name="time" style="color: var(--ion-color-secondary)"></ion-icon>
            <ion-segment @sliderighttitle mode="ios" color="secondary" disabled style="opacity: 1;">
              <ion-segment-button mode="ios">
                <ion-label>Date</ion-label>
              </ion-segment-button>
              <ion-segment-button mode="ios" checked>
                <ion-label>{{ itemObject.eventDate  | date: 'dd-MMM-yyyy HH:mm' }}</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-item>
        </div>

        <div *ngIf="itemObject.expectedReturnDate">
          <ion-item>
            <ion-icon @slidelefttitle slot="start" name="git-compare" style="color: var(--ion-color-tertiary)">
            </ion-icon>
            <ion-segment @sliderighttitle mode="ios" [color]="calculatePendingTime(itemObject)" disabled style="opacity: 1;">
              <ion-segment-button mode="ios">
                <ion-label>Status</ion-label>
              </ion-segment-button>
              <ion-segment-button mode="ios" checked>
                <ion-label text-uppercase>{{ itemObject.status }}</ion-label>
              </ion-segment-button>
            </ion-segment>
            <ion-icon *ngIf="!showReturnDate" style="color: var(--ion-color-primary)" @fadein slot="end"
              name="arrow-dropdown" (click)="showReturnDate=!showReturnDate"></ion-icon>
            <ion-icon *ngIf="showReturnDate" style="color: var(--ion-color-primary)" @fadein slot="end"
              name="arrow-dropup" (click)="showReturnDate=!showReturnDate"></ion-icon>
          </ion-item>
        </div>

        <div *ngIf="itemObject.expectedReturnDate && showReturnDate">
          <ion-item>
            <ion-icon @slidelefttitle slot="start" name="hourglass" style="color: var(--ion-color-tertiary)"></ion-icon>
            <ion-segment @sliderighttitle mode="ios" color="tertiary" disabled style="opacity: 1;">
              <ion-segment-button mode="ios">
                <ion-label>Return Date</ion-label>
              </ion-segment-button>
              <ion-segment-button mode="ios" checked>
                <ion-label *ngIf="itemObject.isActive">{{ itemObject.expectedReturnDate  | date: 'dd-MMM-yyyy HH:mm' }}</ion-label>
                <ion-label *ngIf="!itemObject.isActive">{{ itemObject.returnDate  | date: 'dd-MMM-yyyy HH:mm' }}</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-item>
        </div>

        <div *ngIf="itemObject.personName">
          <ion-item>
            <ion-icon @slidelefttitle slot="start" name="person" style="color: var(--ion-color-primary)"></ion-icon>
            <ion-segment @sliderighttitle mode="ios" color="primary" disabled style="opacity: 1;">
              <ion-segment-button mode="ios">
                <ion-label>Name</ion-label>
              </ion-segment-button>
              <ion-segment-button mode="ios" checked>
                <ion-label text-capitalize>{{ itemObject.personName }}</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-item>
        </div>

        <div *ngIf="itemObject.personContactNumber">
          <ion-item>
            <ion-icon @slidelefttitle slot="start" name="call" style="color: var(--ion-color-secondary)"></ion-icon>
            <ion-segment @sliderighttitle mode="ios" color="secondary" disabled style="opacity: 1;">
              <ion-segment-button mode="ios">
                <ion-label>Phone</ion-label>
              </ion-segment-button>
              <ion-segment-button mode="ios" checked>
                <ion-label>{{ itemObject.personContactNumber }}</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-item>
        </div>

        <div *ngIf="itemObject.personEmail">
          <ion-item>
            <ion-icon @slidelefttitle slot="start" name="mail" style="color: var(--ion-color-tertiary)"></ion-icon>
            <ion-segment @sliderighttitle mode="ios" color="tertiary" disabled style="opacity: 1;">
              <ion-segment-button mode="ios">
                <ion-label>Email</ion-label>
              </ion-segment-button>
              <ion-segment-button mode="ios" checked>
                <ion-label>{{ itemObject.personEmail }}</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-item>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="isMobilePlatform && itemObject.isActive">
      <ion-card-content class="social-icon-container">
        <p @sliderighttitle>Everyone is busy nowdays.</p>
        <p @sliderighttitle>Remind "{{ itemObject.personName }}" about "{{ itemObject.itemName }}" with</p>
        <div @slidebottomtitle>
          <a (click)="confirmSendingReminderWithNote(600)">
            <ion-icon style="color:#25D366" name="logo-whatsapp"></ion-icon>
          </a>
          <a (click)="confirmSendingReminderWithNote(601)">
            <ion-icon style="color:#3b5998" name="logo-facebook"></ion-icon>
          </a>
          <a (click)="confirmSendingReminderWithNote(602)">
            <ion-icon style="color:#8a3ab9" name="logo-instagram"></ion-icon>
          </a>
          <a (click)="confirmSendingReminderWithNote(603)">
            <ion-icon style="color:#1da1f2" name="logo-twitter"></ion-icon>
          </a>
          <a (click)="confirmSendingReminderWithNote(604)">
            <ion-icon style="color:rgb(126, 6, 6)" name="mail"></ion-icon>
          </a>
          <a (click)="confirmSendingReminderWithNote(605)">
            <ion-icon style="color:rgb(0, 0, 0)" name="share"></ion-icon>
          </a>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>