<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="toggleUrgentStatus()">
          <ion-icon *ngIf="(itemDetails | async)?.isUrgent" color="danger" name="star"></ion-icon>
          <ion-icon *ngIf="!(itemDetails | async)?.isUrgent" color="danger" name="star-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="!itemDetails">
    <ion-card>
      <ion-skeleton-text class="skeleton-image" animated></ion-skeleton-text>
      <ion-card-header>
        <ion-card-subtitle>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-card-subtitle>
        <ion-card-title>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-list lines="none">
        <ion-item *ngFor="let x of [1]">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>

  <ion-img [src]="(itemDetails | async)?.itemImage" alt="/assets/shapes.svg"></ion-img>
  <ion-card no-margin>
    <ion-card-header>
      <ion-card-subtitle>{{ (itemDetails | async)?.itemDescription }}</ion-card-subtitle>
      <ion-card-title>{{ (itemDetails | async)?.itemName }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>No items added yet.</p>
      <p>Add items which people borrowed from you recently.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-list lines="none">
      <ion-item>
        <ion-label>Date Borrowed</ion-label>
        <ion-chip color="primary">{{ (itemDetails | async)?.dateBorrowed }}</ion-chip>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="addToUrgentItems()">
      <ion-icon color="danger" name="star"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

</ion-content>