<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="share()">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none">
    <ion-button *ngFor="let theme of themes" (click)="setTheme(theme.name)" 
    margin-top expand="full"> {{ theme.name }} </ion-button>
  </ion-list>

  <ion-list lines="none">
  <ion-chip color="primary" 
    margin-top expand="full">primary</ion-chip>
    <ion-chip color="secondary" 
    margin-top expand="full">secondary</ion-chip>
    <ion-chip color="tertiary" 
    margin-top expand="full">tertiary</ion-chip>
    <ion-chip color="success" 
    margin-top expand="full">success</ion-chip>
    <ion-chip color="warning" 
    margin-top expand="full">warning</ion-chip>
    <ion-chip color="danger" 
    margin-top expand="full">danger</ion-chip>
    <ion-chip color="dark" 
    margin-top expand="full">dark</ion-chip>
    <ion-chip color="medium" 
    margin-top expand="full">medium</ion-chip>
    <ion-chip color="light" 
    margin-top expand="full">light</ion-chip>
  </ion-list>

</ion-content>